footer{
    background-color: var(--optional-color);
    padding-top: 2rem;

}


.socialMedia{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(120px,1fr));
    grid-auto-rows: 1fr;
    margin-bottom: 1rem;
  
}

@media (min-width:992px){
    .socialMedia{
        grid-template-columns: repeat(auto-fit,minmax(20px,1fr));
    }
}

.singleMediaCard{
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease;
}


.singleMediaCard:hover{
    filter: brightness(.8);
}



.copyRight p{
    text-align: center;
    font-size: 1rem;
    color: #744F43;
    font-family: var(--montseerat);
    font-weight: 600;
}